/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}


/* ==========================
   HEADER
========================== */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 20px 10%;
}

header h1{
    font-size: 42px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    transition: .3s;
}

nav a:hover{
    color: #2563eb;
}

/* ==========================
   HOME SECTION
========================== */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    padding: 80px 10%;
}

.hero-content{
    max-width: 900px;
}

.hero-content h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content h1{
    font-size: 72px;
    margin-bottom: 20px;
}

.hero-content h3{
    font-size: 36px;
    color: #2563eb;
    margin-bottom: 25px;
}

.hero-content p{
    font-size: 24px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 35px;
}

.hero-content a{

    display:inline-block;

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:15px 35px;

    border-radius:8px;

    font-size:20px;

    font-weight:bold;

    transition:.3s;
}

.hero-content a:hover{

    background:#1d4ed8;

}


/* ==========================
   ABOUT SECTION
========================== */
/*====================================
          ABOUT SECTION
====================================*/

.about{

    padding:80px 10%;

}

.about-container{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:70px;

    flex-wrap:wrap;

}

.about-image{

    flex:1;

    text-align:center;

}

.about-image img{

    width:350px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.2);

}

.about-content{

    flex:2;

}

.about-content h2{

    font-size:50px;

    margin-bottom:25px;

}

.about-content h3{

    font-size:32px;

    color:#2563eb;

    margin-bottom:20px;

}

.about-content p{

    font-size:20px;

    color:#555;

    line-height:1.9;

    margin-bottom:20px;

}

.about-content a{

    display:inline-block;

    margin-top:20px;

    padding:15px 35px;

    background:#2563eb;

    color:#fff;

    text-decoration:none;

    border-radius:8px;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.about-content a:hover{

    background:#1d4ed8;

}


/*====================================
            SKILLS
====================================*/

.skills{

    padding:80px 10%;

    text-align:center;

}

.skills h2{

    font-size:50px;

    margin-bottom:50px;

}

.skills-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.skill-card{

    background:#fff;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.3s;

}

.skill-card:hover{

    transform:translateY(-10px);

}

.skill-card h3{

    font-size:24px;

    margin-bottom:15px;

}

.skill-card p{

    color:#555;

    font-size:18px;

}
/* ==========================
   SERVICES
========================== */

.services{
    padding: 80px 10%;
    text-align: center;
}

.services h2{
    font-size: 50px;
    margin-bottom: 60px;
}

.service-container{

    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 30px;

}

.service-card{

    background: white;

    padding: 35px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);

    transition: .3s;
}

.service-card:hover{

    transform: translateY(-10px);

}

.service-card h3{

    font-size: 32px;

    margin-bottom: 20px;

}

.service-card p{

    font-size: 20px;

    color: #555;

    line-height: 1.8;

}

/* ==========================
   PROJECTS
========================== */

.projects{
    padding: 80px 10%;
    text-align: center;
}

.projects h2{
    font-size: 50px;
    margin-bottom: 60px;
}

.project-container{

    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 30px;

}

.project-card{

    background: white;

    padding: 35px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);

    transition: .3s;
}

.project-card:hover{

    transform: translateY(-10px);

}

.project-card h3{

    font-size: 32px;

    margin-bottom: 20px;

}

.project-card p{

    font-size: 20px;

    color: #555;

    line-height: 1.8;

    margin-bottom: 30px;

}

.project-buttons{

    display: flex;

    justify-content: center;

    gap: 15px;

    flex-wrap: wrap;

}

.project-buttons a{

    background: #2563eb;

    color: white;

    text-decoration: none;

    padding: 12px 25px;

    border-radius: 8px;

    font-weight: bold;

    transition: .3s;

}

.project-buttons a:hover{

    background: #1d4ed8;

}



/* ==========================
   TABLET
========================== */

@media (max-width:992px){

    .service-container{
        grid-template-columns: repeat(2,1fr);
    }

    .project-container{
        grid-template-columns: repeat(2,1fr);
    }
.about-container{

    flex-direction:column;

    text-align:center;

}

.skills-container{

    grid-template-columns:repeat(2,1fr);

}



}

/* ==========================
   MOBILE
========================== */

@media (max-width:768px){

    header{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    nav{
        margin-top: 20px;
    }

    nav a{
        display: block;
        margin: 10px 0;
    }

    /* Hero */

.hero{

    padding:60px 20px;

}

.hero-content h2{

    font-size:40px;

}

.hero-content h1{

    font-size:50px;

}

.hero-content h3{

    font-size:28px;

}

.hero-content p{

    font-size:18px;

}

/* About */

.about{

    padding:60px 20px;

}

.about h2{

    font-size:40px;

}

.about-container{

    flex-direction:column;

    text-align:center;

}

.about-image img{

    width:250px;

}

.about-content h3{

    font-size:30px;

}

.about-content p{

    font-size:18px;

}

    .services,
    .projects{
        padding: 60px 20px;
    }

    .services h2,
    .projects h2{
        font-size: 40px;
    }

    .service-container,
    .project-container{
        grid-template-columns: 1fr;
    }

    .service-card,
    .project-card{
        width: 100%;
    }

    .service-card h3,
    .project-card h3{
        font-size: 28px;
    }

    .service-card p,
    .project-card p{
        font-size: 18px;
    }

    .project-buttons{
        flex-direction: column;
    }

    .project-buttons a{
        width: 100%;
    }

.about{

    padding:60px 20px;

}

.about-image img{

    width:250px;

}

.about-content h2{

    font-size:40px;

}

.about-content h3{

    font-size:28px;

}

.about-content p{

    font-size:18px;

}

.skills{

    padding:60px 20px;

}

.skills h2{

    font-size:40px;

}

.skills-container{

    grid-template-columns:1fr;

}



}
   